* { box-sizing: border-box; }
body {
    background-color: whitesmoke;
    color: #212121;
}
#mobileProfile, #mobileSkills, #mobileBlog {
    height: 90vh;
}
#mobileProfile, #mobileProjects, #mobileSkills, #mobileBlog {
    animation: fadeEffect 1s ease-out;
}
#mobileProjects {
    margin: 25px auto 50px;
}
p {
    font-size: 16px !important;
}
h1 {
    font-size: 3.6rem !important;
}
.tabs {
    background-color: #212121 !important;
    height: 10vh !important;
}
.tabs .tab {
    height: 10vh !important;
    line-height: 10vh !important;
}
.tabs .tab a {
    color: whitesmoke !important;
    transition: background-color .5s ease !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}
.tabs .tab a:hover, .tabs .tab a.active {
    background-color: rgba(255, 255, 255, 0.1) !important;
}
.tabs .indicator {
    background-color: whitesmoke !important;
    height: 4px !important;
}
div.active {
    display: flex !important;
}

/* styles for desktop elements */
.desktop-view {
    display: none;
} 
#desktopProfile, #desktopSkills, #desktopBlog {
    height: 100vh;
}
#desktopProjects {
    padding: 3rem 0;
}
.desktopnav {
    background-color: #212121;
    padding: 0 !important;
    height: 100%;
    position: fixed;
    top: 0;
}
.navheader {
    background-color: hsla(0, 50%, 100%, 0.9);
    color: #212121;
    padding: 20px;
    text-align: center;
}
.desktopnav > .nav li > a {
    display: block;
    color: whitesmoke !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    text-align: left;
}
.desktopnav a:hover, .desktopnav a:active {
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 5px solid whitesmoke;
}
.desktopnav > .nav li {
    border-bottom: 1px solid whitesmoke;
}
#desktopProjects, #desktopSkills, #desktopBlog {
    display: none; /* all hidden at first except #desktopProfile */
}
a.activetablink {
    border-left: 5px solid whitesmoke;
    background-color: rgba(255, 255, 255, 0.1);
}
.tabcontent {
    animation: fadeEffect 1s ease-out;
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Media Queries */
@media screen and (orientation: landscape) {
    #mobileProfile, #mobileSkills {
        height: auto;
    }
}
@media screen and (min-width: 780px) {
    .mobile-view {display: none !important;}
    .desktop-view {display: block;}
    p {
        font-size: 1.3rem !important;
    }
}