* { box-sizing: border-box; }
body {
    background-color: whitesmoke;
    color: #212121;
}
#mobileProfile, #mobileSkills, #mobileBlog {
    height: 90vh;
}
progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 20px;
    margin-bottom: 5px;
}
progress[value]::-webkit-progress-bar {
    background-color: silver;
    border-radius: 2px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4) inset;
}
progress[value]::-webkit-progress-value {
    background-image: 
        linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
        linear-gradient(to right, #09c, #f44);
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
progress[value]::-webkit-progress-value::before {
    content: '90%';
    position: absolute;
    right: 0;
    top: -125%;
}
p {
    font-size: 16px !important;
}
h1 {
    font-size: 2.6rem !important;
}
.tabs {
    background-color: #212121 !important;
    height: 10vh !important;
}
.tabs .tab {
    height: 10vh !important;
    line-height: 10vh !important;
}
.tabs .tab a {
    color: whitesmoke !important;
    transition: background-color .5s ease !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}
.tabs .tab a:hover, .tabs .tab a.active {
    background-color: rgba(255, 255, 255, 0.1) !important;
}
.tabs .indicator {
    background-color: whitesmoke !important;
    height: 4px !important;
}

/* styles for desktop elements */
.desktop-view {
    display: none;
} 
.desktop-view, .desktopnav, .main-contents, #desktopProfile,
#desktopProjects, #desktopSkills, #desktopBlog  {
    height: 100vh;
}
.desktopnav {
    background-color: #212121;
    padding: 0 !important;
}
.navheader {
    background-color: white;
    color: #212121;
    padding: 30px 30px 50px;
    text-align: right;
}
ul.nav li > a {
    display: block;
    color: whitesmoke !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}
ul.nav li > a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
ul.nav li {
    border-bottom: 1px solid whitesmoke;
}
#desktopProjects, #desktopSkills, #desktopBlog {
    display: none; /* all hidden at first except #desktopProfile */
}
.animatetab {
    position: relative;
    animation: animatetab 1s ease;
}
@keyframes animatetab {
    from {right: -50px; opacity: 0;}
    to {right: 0; opacity: 1;}
}

@media screen and (min-width: 800px) {
    .mobile-view {display: none !important;}
    .desktop-view {display: block;}
    h1 {
        font-size: 4rem !important;
    }
    p {
        font-size: 1.3rem !important;
    }
}